/*definición de selectores */

body{
    background-image: url("../img/fondo.jpg");
}
 
.menu{
    background-color: rgb(205, 239, 245);

}

main{
    margin-top: 20px;
}
















 .principal{
    width: 300px;
 }

.principal{
    margin-bottom: 30px;
}